{{- $id := (bitwarden "item" "git-identity").notes | fromJson -}}
[user]
	name = {{ $id.work.name }}
	email = {{ $id.work.email }}
[url "https://github.com/"]
	insteadOf = git@github.com:
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
